/* index.html -------------------------------------------------------------- */

@font-face {
  font-family: "Black Jack";
  src: url("../asset/fonts/BLACKJAR.TTF") format("truetype");
}

Body {
  font-family: helvetica;
}

Header {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
  color: red;
  font-family: "Black Jack";
}

.logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.head {}

nav {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-list {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

main {}

.introduction {
  text-align: center;
  margin-top: 25px;
}

.feature {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

.feature ul {
  display: inline-block;
}

.input-form {
  display: inline;
}

.input-form label {
  width: 180px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  float: left;
}

.input-form input {
  margin-left: auto;
  margin-bottom: 5px;
  float: left;
}

.input-form button {
  display: block;
  margin: 0 auto;
}

.form-container {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#copyright {
  text-align: center;
  margin-top: 0;
}

/* app.html----------------------------------------------------------------- */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-feature {
  display: flex;
  margin-bottom: 5px;
}

#search-text {
  padding-left: 5px;
  border-style: solid;
  border-color: black;
  width: 447px;
  height: 30px;
}

#search-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  width: 50px;
  margin-left: 3px;
  height: 30px;
}

.create-feature {
  display: flex;
  margin-bottom: 5px;
}

#input-text {
  border-style: solid;
  border-color: red;
  width: 447px;
  height: 30px;
  padding-left: 5px;
}

#input-text:focus {
  background-color: #f2f2f2;
}

#add-button {
  background-color: red;
  border-style: solid;
  border-color: red;
  color: white;
  width: 50px;
  margin-left: 3px;
}

#output-box {
  display: inline-block;
  border-style: solid;
  border-color: red;
  border-width: 2px padding: 2px;
  height: 400px;
  width: 500px;
}

#output-box div {
  border: 1px solid black;
  margin: 2px;
  padding: 0px;
  background-color: #f2f2f2;
}

.list {
  margin: 5px;
  padding: 2px;
}

#update-button {
  padding-top: 0px;
  margin-right: auto;
  float: right;
}

#delete-button {
  padding-top:0px;
  margin-right: auto;
  float: right;
}

.delete-button:hover {
  background-color: white;
}

/* about.html--------------------------------------------------------------- */

.about-introduction {
  margin-top: 25px;
  text-align: center;
}

.about-team {
  text-align: center;
}
